/* ListVideo Css */

.list-video-list {
  width: 24%;
  padding-bottom: 29px;
  background-color: #35343b;
  border-radius: 10px;
  box-shadow: rgb(18 30 52 / 7%) 0px 1px 1px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.list-video-main {
  display: flex;
  flex-wrap: wrap;
}
.iframe-video {
  width: 100%;
  height: 220px;
  border: 0px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.list-video-body {
  padding: 10px 20px;
}
.list-video-description,
.list-video-title {
  color: #aaa;
  margin-top: 18px !important;
  font-size: 13px;
}
.list-video-title {
  font-weight: bold;
  padding-bottom: 10px !important;
}
/* Pagination Css */

.pagination-list {
  display: flex;
  justify-content: center;
}
.pagination-list li {
  list-style: none;
  width: 50px;
  height: 50px;
  text-align: center;

  background-color: #d0312d;
  margin: 30px 0px;
  margin-left: 5px;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-list li:hover {
  background-color: #35343b;
  transition: 0.4s ease-in;
  border: 0.5px solid white;
  cursor: pointer;
}

/* Image Avatar */

.image-avatar,
.image-avatar img {
  width: 50px;
  height: 50px;
  border: 50%;
}
.avatar-list {
  list-style: none;
  display: flex;
  align-items: center;
}
.avatar-list li {
  margin-right: 10px;
}
.avatar-list li p {
  padding: 0px;
  margin: 0px;
  color: #aaa;
  font-size: 14px;
}
.avatar-list li .total-like {
  font-size: 10px;
  margin-top: 4px !important;
}
.name-avatar {
  width: 70%;
}

/*float button*/
.fab-wrapper {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}
.fab-checkbox {
  display: none;
}
.fab {
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  width: 4rem;
  height: 4rem;
  background: blue;
  border-radius: 50%;
  background: #f04a4a;
  box-shadow: 0px 5px 20px #e46e6e;
  transition: all 0.3s ease;
  z-index: 1;
  border-bottom-right-radius: 6px;
  border: 1px solid #f04a4a;
}

.fab:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.fab-checkbox:checked ~ .fab:before {
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  background-color: rgba(255, 255, 255, 0.2);
}
.fab:hover {
  background: #f04a4a;
  opacity: 8;
  box-shadow: 0px 5px 20px 5px #e46e6e;
}

.fab-dots {
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  transform: translateX(0%) translateY(-50%) rotate(0deg);
  opacity: 1;
  animation: blink 3s ease infinite;
  transition: all 0.3s ease;
}

.fab-dots-1 {
  left: 15px;
  animation-delay: 0s;
}
.fab-dots-2 {
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation-delay: 0.4s;
}
.fab-dots-3 {
  right: 15px;
  animation-delay: 0.8s;
}

.fab-checkbox:checked ~ .fab .fab-dots {
  height: 6px;
}

.fab .fab-dots-2 {
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
}

.fab-checkbox:checked ~ .fab .fab-dots-1 {
  width: 32px;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.fab-checkbox:checked ~ .fab .fab-dots-3 {
  width: 32px;
  border-radius: 10px;
  right: 50%;
  transform: translateX(50%) translateY(-50%) rotate(-45deg);
}

@keyframes blink {
  50% {
    opacity: 0.25;
  }
}

.fab-checkbox:checked ~ .fab .fab-dots {
  animation: none;
}

.fab-wheel {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10rem;
  height: 10rem;
  transition: all 0.3s ease;
  transform-origin: bottom right;
  transform: scale(0);
}

.fab-checkbox:checked ~ .fab-wheel {
  transform: scale(1);
}
.fab-action {
  position: absolute;
  background: #f04a4a;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: White;
  box-shadow: 0 0.1rem 1rem #f04a4a;
  transition: all 1s ease;

  opacity: 0;
}

.fab-checkbox:checked ~ .fab-wheel .fab-action {
  opacity: 1;
}

.fab-action:hover {
  background-color: #35343b;
}

.fab-wheel .fab-action-1 {
  right: -1rem;
  top: 0;
}

.fab-wheel .fab-action-2 {
  right: 3.4rem;
  top: 0.5rem;
}
.fab-wheel .fab-action-3 {
  left: 0.5rem;
  bottom: 3.4rem;
}
.fab-wheel .fab-action-4 {
  left: 0;
  bottom: -1rem;
}

/* LikeButton */
.btn-like {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* Pure Loading */
.loading {
  display: flex;
  justify-content: center;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #f04a4a;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
